
/* Top Bar Styling */
.top-bar {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}


.contact-details a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.contact-details a:hover {
  opacity: 0.6;
  color: #007bff; 
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item i {
  font-size: 16px;
  margin-right: 5px;
}

/* Orange Color for Icons */
.text-orange {
  color: #ff9800; /* Orange color for most icons */
}

/* WhatsApp Green Color */
.text-green {
  color: #25d366; /* WhatsApp green color */
}

.social-links a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}
.align-items-center{
  align-items: flex-start !important;
}
.social-links a:hover {
  opacity: 0.6;
}
.navbar-toggler-right {
  position: absolute;
  right: 20px; /* Adjust based on how far right you want the button */
  top: 130px;
  transform: translateY(-50%);

}
.nav-link {
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ff6600; /* Orange hover color */
}

/* Underline animation */
.orange-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust distance from text */
  width: 0;
  height: 3px;
  background-color: #ff6600; /* Orange color for the underline */
  transition: width 0.3s ease-in-out;
}

.orange-underline:hover::after {
  width: 100%;
  left: 0;
}

@media (max-width: 768px) {
  .top-bar .container {
    padding: 0 15px;
  }

  .contact-details {
    width: 80%;
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: flex-start; /* Align items to the left */
    text-align: left; /* Align contact items to the left */
  }

  .contact-item {
    margin-bottom: 10px;
    align-items: left; /* Add space between email and phone number */
  }

  .social-links {
    position: absolute;
    right: 15px; /* Align the social links to the top-right corner */
    top: 10px; /* Position it from the top */
  }

  .social-icon {
    font-size: 1.5rem; /* Adjust the size of the WhatsApp icon */
  }
  .phone{
    text-align: left;

  }
}
